In [1]:
import pandas as pd
import numpy as np
import random as rnd

In [2]:
train=pd.read_csv('data/july_aug.csv')
test=pd.read_csv('data/test_id_Aug_agg_public5k.csv')
poi=pd.read_csv('data/pio_treated.csv')
weather=pd.read_csv('data/weather_treated.csv')

In [3]:
train.head()

,id,driver_id,member_id,create_date,create_hour,status,estimate_money,estimate_distance,estimate_term,start_geo_id,end_geo_id
0,cc874301b6287c3bfc85a33c2838e6a7,a77aa99572b3093d4727ab4b26c19ec8,b4502d9bc4061f78d58ae7dff513fca1,2017-07-01,0,2,53.00,7993.0,15.0,0175b8486a67a505f0dc183f6df7f750,e8075aa7f0fc96871cc204bea0696b43
1,05c8a90bfcaccffd35ec1e478d28b1f4,872d4b63a98c4e7d752091701f30b2e8,263d0ee3545b130a9620dd17520d9873,2017-07-01,0,1,76.03,11780.0,21.0,02fa9f7cd1d2c5dfdb32ed9c2aec23d9,bae435e54e698139d5dfda788f91f32e
2,cb9562253d80fb50b09b71becd1e4c2a,4128af1c3d6761cd2a7b902d63c633be,1fb04c8cff05de9344a5c28f90f10853,2017-07-01,0,2,162.00,24848.0,33.0,02fa9f7cd1d2c5dfdb32ed9c2aec23d9,f5dc996f6aa097f7a84a9bcfe58ed55c
3,0b09e8d7ad6ce04db8dd86e1e9781dac,676a50b58679afc0e573776d7cbb3835,66a4b2373d81f406524cfe971d8c1f85,2017-07-01,0,2,106.00,14380.0,22.0,0a64b01e91cf367a9b016d4f6d42290f,0613fd690240317177a03a0b26ca8591
4,b3cd752e659d0a59a17ca93a0d8036b1,c0ad0bd82af303c6f4c071bbe1f20e5a,42a64158ef5efa210cb63687062ff8c8,2017-07-01,0,2,43.00,3234.0,6.0,0a64b01e91cf367a9b016d4f6d42290f,0a64b01e91cf367a9b016d4f6d42290f

In [4]:
train.shape

(988175, 11)

In [5]:
test.head()

,test_id,start_geo_id,end_geo_id,create_date,create_hour
0,0,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,21
1,1,c538ad66d710f99ad0ce951152da36a4,6097a8df0b2757894ce7b4a48ae2a692,2017-08-01,21
2,2,c538ad66d710f99ad0ce951152da36a4,27d75f17e61587172fe7a6827bbaa198,2017-08-01,21
3,3,c538ad66d710f99ad0ce951152da36a4,6097a8df0b2757894ce7b4a48ae2a692,2017-08-01,17
4,4,92e1e8020813ef939183e345626b442a,92e1e8020813ef939183e345626b442a,2017-08-01,17

In [6]:
test.shape

(5000, 5)

In [7]:
poi.head()

,geo_id,petrol_station,supermarket,uptown,subway_station,bus_station,coffee_House,restaurant,atm,office_building,hotel
0,829fd9e04ed5f0e2148096737edb8a73,0,0,1,0,2,0,0,0,0,0
1,3d99665144344fc090b5b7450ffe72f5,4,43,151,4,36,22,597,59,47,45
2,f524dc6b89fcb9e4a9688c0cb7b2bdb7,0,0,0,0,0,0,0,0,0,0
3,0613fd690240317177a03a0b26ca8591,4,32,50,3,22,6,509,20,9,27
4,687ea595a01fdc18ad438f0d0a325102,0,3,1,0,6,0,6,0,0,1

In [8]:
weather.head()

,date,time,text,code,temperature,feels_like,pressure,humidity,visibility,wind_direction,wind_direction_degree,wind_speed,wind_scale
0,2017-07-01,0:30,2,1,29,28.0,998,62,9.3,5,200,9.00,2
1,2017-07-01,1:00,2,1,28,28.0,998,63,7.7,8,233,7.92,2
2,2017-07-01,1:30,2,1,28,28.0,998,65,7.7,5,197,7.20,2
3,2017-07-01,2:00,2,1,28,27.0,998,66,7.7,8,233,9.00,2
4,2017-07-01,2:30,2,1,28,27.0,998,67,6.6,5,180,7.20,2

In [9]:
weather=weather[weather['time'].str.contains('30')]

In [10]:
weather.head()

,date,time,text,code,temperature,feels_like,pressure,humidity,visibility,wind_direction,wind_direction_degree,wind_speed,wind_scale
0,2017-07-01,0:30,2,1,29,28.0,998,62,9.3,5,200,9.0,2
2,2017-07-01,1:30,2,1,28,28.0,998,65,7.7,5,197,7.2,2
4,2017-07-01,2:30,2,1,28,27.0,998,67,6.6,5,180,7.2,2
6,2017-07-01,3:30,2,1,28,27.0,998,67,6.6,5,188,7.2,2
8,2017-07-01,4:30,2,1,27,27.0,998,67,6.0,8,239,9.0,2

In [11]:
gb=train.groupby(['create_date','create_hour','start_geo_id','end_geo_id'])

In [12]:
train=gb['end_geo_id'].agg({'count':np.size}).reset_index()

/home/youchong/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

In [13]:
train.shape

(556168, 5)

In [14]:
def merge_weather(data):
    weather['hour']=weather['time'].str.split(':',expand=True)[0]
    data['dt']=data['create_date']+data['create_hour'].astype(str)
    weather['dt']=weather['date']+weather['hour'].astype(str)
    data=data.merge(weather,how='left',on='dt')
    data.drop(['dt'],axis=1,inplace=True)
    return data

In [15]:
train=merge_weather(train)

In [16]:
train.shape

(556168, 19)

In [17]:
test=merge_weather(test)

In [18]:
test.shape

(5000, 19)

In [19]:
train.head()

,create_date,create_hour,start_geo_id,end_geo_id,count,date,time,text,code,temperature,feels_like,pressure,humidity,visibility,wind_direction,wind_direction_degree,wind_speed,wind_scale,hour
0,2017-07-01,0,0175b8486a67a505f0dc183f6df7f750,e8075aa7f0fc96871cc204bea0696b43,1,2017-07-01,0:30,2.0,1.0,29.0,28.0,998.0,62.0,9.3,5.0,200.0,9.0,2.0,0
1,2017-07-01,0,02fa9f7cd1d2c5dfdb32ed9c2aec23d9,bae435e54e698139d5dfda788f91f32e,1,2017-07-01,0:30,2.0,1.0,29.0,28.0,998.0,62.0,9.3,5.0,200.0,9.0,2.0,0
2,2017-07-01,0,02fa9f7cd1d2c5dfdb32ed9c2aec23d9,f5dc996f6aa097f7a84a9bcfe58ed55c,1,2017-07-01,0:30,2.0,1.0,29.0,28.0,998.0,62.0,9.3,5.0,200.0,9.0,2.0,0
3,2017-07-01,0,0a64b01e91cf367a9b016d4f6d42290f,0613fd690240317177a03a0b26ca8591,1,2017-07-01,0:30,2.0,1.0,29.0,28.0,998.0,62.0,9.3,5.0,200.0,9.0,2.0,0
4,2017-07-01,0,0a64b01e91cf367a9b016d4f6d42290f,0a64b01e91cf367a9b016d4f6d42290f,1,2017-07-01,0:30,2.0,1.0,29.0,28.0,998.0,62.0,9.3,5.0,200.0,9.0,2.0,0

In [20]:
test.head()

,test_id,start_geo_id,end_geo_id,create_date,create_hour,date,time,text,code,temperature,feels_like,pressure,humidity,visibility,wind_direction,wind_direction_degree,wind_speed,wind_scale,hour
0,0,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,21,2017-08-01,21:30,1.0,4.0,29.0,29.0,1003.0,70.0,10.0,4.0,129.0,9.36,2.0,21
1,1,c538ad66d710f99ad0ce951152da36a4,6097a8df0b2757894ce7b4a48ae2a692,2017-08-01,21,2017-08-01,21:30,1.0,4.0,29.0,29.0,1003.0,70.0,10.0,4.0,129.0,9.36,2.0,21
2,2,c538ad66d710f99ad0ce951152da36a4,27d75f17e61587172fe7a6827bbaa198,2017-08-01,21,2017-08-01,21:30,1.0,4.0,29.0,29.0,1003.0,70.0,10.0,4.0,129.0,9.36,2.0,21
3,3,c538ad66d710f99ad0ce951152da36a4,6097a8df0b2757894ce7b4a48ae2a692,2017-08-01,17,2017-08-01,17:30,1.0,4.0,31.0,31.0,1001.0,64.0,13.4,4.0,124.0,12.96,3.0,17
4,4,92e1e8020813ef939183e345626b442a,92e1e8020813ef939183e345626b442a,2017-08-01,17,2017-08-01,17:30,1.0,4.0,31.0,31.0,1001.0,64.0,13.4,4.0,124.0,12.96,3.0,17

In [21]:
def merge_poi(data):
    data=data.merge(poi,how='left',left_on='start_geo_id',right_on='geo_id')
    data=data.merge(poi,how='left',left_on='end_geo_id',right_on='geo_id')
    return data

In [22]:
train=merge_poi(train)

In [23]:
train.head()

,create_date,create_hour,start_geo_id,end_geo_id,count,date,time,text,code,temperature,...,petrol_station_y,supermarket_y,uptown_y,subway_station_y,bus_station_y,coffee_House_y,restaurant_y,atm_y,office_building_y,hotel_y
0,2017-07-01,0,0175b8486a67a505f0dc183f6df7f750,e8075aa7f0fc96871cc204bea0696b43,1,2017-07-01,0:30,2.0,1.0,29.0,...,1.0,38.0,51.0,4.0,25.0,7.0,558.0,21.0,6.0,36.0
1,2017-07-01,0,02fa9f7cd1d2c5dfdb32ed9c2aec23d9,bae435e54e698139d5dfda788f91f32e,1,2017-07-01,0:30,2.0,1.0,29.0,...,0.0,18.0,30.0,1.0,11.0,3.0,369.0,3.0,13.0,9.0
2,2017-07-01,0,02fa9f7cd1d2c5dfdb32ed9c2aec23d9,f5dc996f6aa097f7a84a9bcfe58ed55c,1,2017-07-01,0:30,2.0,1.0,29.0,...,2.0,62.0,180.0,3.0,43.0,33.0,900.0,62.0,64.0,84.0
3,2017-07-01,0,0a64b01e91cf367a9b016d4f6d42290f,0613fd690240317177a03a0b26ca8591,1,2017-07-01,0:30,2.0,1.0,29.0,...,4.0,32.0,50.0,3.0,22.0,6.0,509.0,20.0,9.0,27.0
4,2017-07-01,0,0a64b01e91cf367a9b016d4f6d42290f,0a64b01e91cf367a9b016d4f6d42290f,1,2017-07-01,0:30,2.0,1.0,29.0,...,4.0,61.0,233.0,6.0,40.0,102.0,900.0,136.0,162.0,279.0

In [24]:
test=merge_poi(test)

In [25]:
test.head()

,test_id,start_geo_id,end_geo_id,create_date,create_hour,date,time,text,code,temperature,...,petrol_station_y,supermarket_y,uptown_y,subway_station_y,bus_station_y,coffee_House_y,restaurant_y,atm_y,office_building_y,hotel_y
0,0,c538ad66d710f99ad0ce951152da36a4,90bb1d035e403538d20b073aec57bea2,2017-08-01,21,2017-08-01,21:30,1.0,4.0,29.0,...,2.0,79.0,266.0,7.0,36.0,95.0,898.0,113.0,133.0,151.0
1,1,c538ad66d710f99ad0ce951152da36a4,6097a8df0b2757894ce7b4a48ae2a692,2017-08-01,21,2017-08-01,21:30,1.0,4.0,29.0,...,2.0,61.0,152.0,4.0,34.0,115.0,900.0,114.0,167.0,117.0
2,2,c538ad66d710f99ad0ce951152da36a4,27d75f17e61587172fe7a6827bbaa198,2017-08-01,21,2017-08-01,21:30,1.0,4.0,29.0,...,2.0,47.0,244.0,6.0,35.0,157.0,898.0,107.0,177.0,186.0
3,3,c538ad66d710f99ad0ce951152da36a4,6097a8df0b2757894ce7b4a48ae2a692,2017-08-01,17,2017-08-01,17:30,1.0,4.0,31.0,...,2.0,61.0,152.0,4.0,34.0,115.0,900.0,114.0,167.0,117.0
4,4,92e1e8020813ef939183e345626b442a,92e1e8020813ef939183e345626b442a,2017-08-01,17,2017-08-01,17:30,1.0,4.0,31.0,...,2.0,40.0,324.0,7.0,55.0,42.0,693.0,164.0,174.0,132.0

In [26]:
train.columns

Index(['create_date', 'create_hour', 'start_geo_id', 'end_geo_id', 'count',
       'date', 'time', 'text', 'code', 'temperature', 'feels_like', 'pressure',
       'humidity', 'visibility', 'wind_direction', 'wind_direction_degree',
       'wind_speed', 'wind_scale', 'hour', 'geo_id_x', 'petrol_station_x',
       'supermarket_x', 'uptown_x', 'subway_station_x', 'bus_station_x',
       'coffee_House_x', 'restaurant_x', 'atm_x', 'office_building_x',
       'hotel_x', 'geo_id_y', 'petrol_station_y', 'supermarket_y', 'uptown_y',
       'subway_station_y', 'bus_station_y', 'coffee_House_y', 'restaurant_y',
       'atm_y', 'office_building_y', 'hotel_y'],
      dtype='object')

In [27]:
test.columns

Index(['test_id', 'start_geo_id', 'end_geo_id', 'create_date', 'create_hour',
       'date', 'time', 'text', 'code', 'temperature', 'feels_like', 'pressure',
       'humidity', 'visibility', 'wind_direction', 'wind_direction_degree',
       'wind_speed', 'wind_scale', 'hour', 'geo_id_x', 'petrol_station_x',
       'supermarket_x', 'uptown_x', 'subway_station_x', 'bus_station_x',
       'coffee_House_x', 'restaurant_x', 'atm_x', 'office_building_x',
       'hotel_x', 'geo_id_y', 'petrol_station_y', 'supermarket_y', 'uptown_y',
       'subway_station_y', 'bus_station_y', 'coffee_House_y', 'restaurant_y',
       'atm_y', 'office_building_y', 'hotel_y'],
      dtype='object')

In [28]:
count=train['count']

In [29]:
train.drop(['start_geo_id','end_geo_id','count'],axis=1,inplace=True)

In [30]:
train.head()

,create_date,create_hour,date,time,text,code,temperature,feels_like,pressure,humidity,...,petrol_station_y,supermarket_y,uptown_y,subway_station_y,bus_station_y,coffee_House_y,restaurant_y,atm_y,office_building_y,hotel_y
0,2017-07-01,0,2017-07-01,0:30,2.0,1.0,29.0,28.0,998.0,62.0,...,1.0,38.0,51.0,4.0,25.0,7.0,558.0,21.0,6.0,36.0
1,2017-07-01,0,2017-07-01,0:30,2.0,1.0,29.0,28.0,998.0,62.0,...,0.0,18.0,30.0,1.0,11.0,3.0,369.0,3.0,13.0,9.0
2,2017-07-01,0,2017-07-01,0:30,2.0,1.0,29.0,28.0,998.0,62.0,...,2.0,62.0,180.0,3.0,43.0,33.0,900.0,62.0,64.0,84.0
3,2017-07-01,0,2017-07-01,0:30,2.0,1.0,29.0,28.0,998.0,62.0,...,4.0,32.0,50.0,3.0,22.0,6.0,509.0,20.0,9.0,27.0
4,2017-07-01,0,2017-07-01,0:30,2.0,1.0,29.0,28.0,998.0,62.0,...,4.0,61.0,233.0,6.0,40.0,102.0,900.0,136.0,162.0,279.0

In [31]:
train.insert(0,'count',count)

In [32]:
train.head()

,count,create_date,create_hour,date,time,text,code,temperature,feels_like,pressure,...,petrol_station_y,supermarket_y,uptown_y,subway_station_y,bus_station_y,coffee_House_y,restaurant_y,atm_y,office_building_y,hotel_y
0,1,2017-07-01,0,2017-07-01,0:30,2.0,1.0,29.0,28.0,998.0,...,1.0,38.0,51.0,4.0,25.0,7.0,558.0,21.0,6.0,36.0
1,1,2017-07-01,0,2017-07-01,0:30,2.0,1.0,29.0,28.0,998.0,...,0.0,18.0,30.0,1.0,11.0,3.0,369.0,3.0,13.0,9.0
2,1,2017-07-01,0,2017-07-01,0:30,2.0,1.0,29.0,28.0,998.0,...,2.0,62.0,180.0,3.0,43.0,33.0,900.0,62.0,64.0,84.0
3,1,2017-07-01,0,2017-07-01,0:30,2.0,1.0,29.0,28.0,998.0,...,4.0,32.0,50.0,3.0,22.0,6.0,509.0,20.0,9.0,27.0
4,1,2017-07-01,0,2017-07-01,0:30,2.0,1.0,29.0,28.0,998.0,...,4.0,61.0,233.0,6.0,40.0,102.0,900.0,136.0,162.0,279.0

In [33]:
test.drop(['start_geo_id','end_geo_id'],axis=1,inplace=True)

In [34]:
test.head()

,test_id,create_date,create_hour,date,time,text,code,temperature,feels_like,pressure,...,petrol_station_y,supermarket_y,uptown_y,subway_station_y,bus_station_y,coffee_House_y,restaurant_y,atm_y,office_building_y,hotel_y
0,0,2017-08-01,21,2017-08-01,21:30,1.0,4.0,29.0,29.0,1003.0,...,2.0,79.0,266.0,7.0,36.0,95.0,898.0,113.0,133.0,151.0
1,1,2017-08-01,21,2017-08-01,21:30,1.0,4.0,29.0,29.0,1003.0,...,2.0,61.0,152.0,4.0,34.0,115.0,900.0,114.0,167.0,117.0
2,2,2017-08-01,21,2017-08-01,21:30,1.0,4.0,29.0,29.0,1003.0,...,2.0,47.0,244.0,6.0,35.0,157.0,898.0,107.0,177.0,186.0
3,3,2017-08-01,17,2017-08-01,17:30,1.0,4.0,31.0,31.0,1001.0,...,2.0,61.0,152.0,4.0,34.0,115.0,900.0,114.0,167.0,117.0
4,4,2017-08-01,17,2017-08-01,17:30,1.0,4.0,31.0,31.0,1001.0,...,2.0,40.0,324.0,7.0,55.0,42.0,693.0,164.0,174.0,132.0

In [35]:
train.drop(['create_date','date','time','geo_id_x','geo_id_y'],axis=1,inplace=True)

In [36]:
test.drop(['create_date','date','time','geo_id_x','geo_id_y'],axis=1,inplace=True)

In [37]:
train.head()

,count,create_hour,text,code,temperature,feels_like,pressure,humidity,visibility,wind_direction,...,petrol_station_y,supermarket_y,uptown_y,subway_station_y,bus_station_y,coffee_House_y,restaurant_y,atm_y,office_building_y,hotel_y
0,1,0,2.0,1.0,29.0,28.0,998.0,62.0,9.3,5.0,...,1.0,38.0,51.0,4.0,25.0,7.0,558.0,21.0,6.0,36.0
1,1,0,2.0,1.0,29.0,28.0,998.0,62.0,9.3,5.0,...,0.0,18.0,30.0,1.0,11.0,3.0,369.0,3.0,13.0,9.0
2,1,0,2.0,1.0,29.0,28.0,998.0,62.0,9.3,5.0,...,2.0,62.0,180.0,3.0,43.0,33.0,900.0,62.0,64.0,84.0
3,1,0,2.0,1.0,29.0,28.0,998.0,62.0,9.3,5.0,...,4.0,32.0,50.0,3.0,22.0,6.0,509.0,20.0,9.0,27.0
4,1,0,2.0,1.0,29.0,28.0,998.0,62.0,9.3,5.0,...,4.0,61.0,233.0,6.0,40.0,102.0,900.0,136.0,162.0,279.0

In [38]:
test.head()

,test_id,create_hour,text,code,temperature,feels_like,pressure,humidity,visibility,wind_direction,...,petrol_station_y,supermarket_y,uptown_y,subway_station_y,bus_station_y,coffee_House_y,restaurant_y,atm_y,office_building_y,hotel_y
0,0,21,1.0,4.0,29.0,29.0,1003.0,70.0,10.0,4.0,...,2.0,79.0,266.0,7.0,36.0,95.0,898.0,113.0,133.0,151.0
1,1,21,1.0,4.0,29.0,29.0,1003.0,70.0,10.0,4.0,...,2.0,61.0,152.0,4.0,34.0,115.0,900.0,114.0,167.0,117.0
2,2,21,1.0,4.0,29.0,29.0,1003.0,70.0,10.0,4.0,...,2.0,47.0,244.0,6.0,35.0,157.0,898.0,107.0,177.0,186.0
3,3,17,1.0,4.0,31.0,31.0,1001.0,64.0,13.4,4.0,...,2.0,61.0,152.0,4.0,34.0,115.0,900.0,114.0,167.0,117.0
4,4,17,1.0,4.0,31.0,31.0,1001.0,64.0,13.4,4.0,...,2.0,40.0,324.0,7.0,55.0,42.0,693.0,164.0,174.0,132.0

In [39]:
train.shape

(556168, 34)

In [40]:
test.shape

(5000, 34)

In [41]:
train.to_csv('train/train.csv',index=False)

In [42]:
test.to_csv('train/test.csv',index=False)

In [43]:
train.columns

Index(['count', 'create_hour', 'text', 'code', 'temperature', 'feels_like',
       'pressure', 'humidity', 'visibility', 'wind_direction',
       'wind_direction_degree', 'wind_speed', 'wind_scale', 'hour',
       'petrol_station_x', 'supermarket_x', 'uptown_x', 'subway_station_x',
       'bus_station_x', 'coffee_House_x', 'restaurant_x', 'atm_x',
       'office_building_x', 'hotel_x', 'petrol_station_y', 'supermarket_y',
       'uptown_y', 'subway_station_y', 'bus_station_y', 'coffee_House_y',
       'restaurant_y', 'atm_y', 'office_building_y', 'hotel_y'],
      dtype='object')

In [44]:
test.columns

Index(['test_id', 'create_hour', 'text', 'code', 'temperature', 'feels_like',
       'pressure', 'humidity', 'visibility', 'wind_direction',
       'wind_direction_degree', 'wind_speed', 'wind_scale', 'hour',
       'petrol_station_x', 'supermarket_x', 'uptown_x', 'subway_station_x',
       'bus_station_x', 'coffee_House_x', 'restaurant_x', 'atm_x',
       'office_building_x', 'hotel_x', 'petrol_station_y', 'supermarket_y',
       'uptown_y', 'subway_station_y', 'bus_station_y', 'coffee_House_y',
       'restaurant_y', 'atm_y', 'office_building_y', 'hotel_y'],
      dtype='object')